.cookies__note {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: flex-end;
    height: 14px;
    background-color: #fff;
    width: calc(100% - 30px);
}

.cookies__main {
    margin: 15px;
}

.cookies__note_text {
    font-size: 14px;
}

.cookies__note_link {
    text-decoration: none;
    color: #19459d;
    cursor: pointer;
}

.icon__close {
    height: 11px;
    width: 11px;
}

.cookies__text {
    margin-top: 15px;
}