.login {
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.login__link {
    text-decoration: none;
    color: #fff;
    margin-left: 15px;
}

.logo {
    width: 150px;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    text-decoration: none;
}

.logo__img {
    width: 150px;
    margin: 0;
}

.logo__text {
    font-size: 10px;
    line-height: 0;
    margin-left: 2px;
    margin-top: 5px;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
    right: 0;
    top: 0;
    position: fixed;
    min-width: 180px;
    width: 40%;
    height: 100vh;
    z-index: 20;
}

.menu__item_regs {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: baseline;
}

.pl__flag_small {
    width: 16px;
    margin-left: 5px;
}

.menu__item_link {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.header__burger {
    height: 14px;
    width: 22px;
    padding: 5px;
    cursor: pointer;
}

.header__two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.header__burger_line {
    height: 2px;
    width: 100%;
    background-color: #000;
    margin-bottom: 4px;
}

.menu__container {
    visibility: hidden;
    background-color: #fff;
}

@media (min-width: 675px) {
    .header__two {
        justify-content: flex-start;
    }

    .header__burger {
        visibility: hidden;
    }

    .menu__container {
        visibility: visible;
        background-color: transparent;
    }

    .menu {
        background-color: transparent;
        width: 100%;
        position: initial;
        height: fit-content;
        display: flex;
        flex-direction: row;
    }
}